@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Override rem size */

:root {
    font-size: 10px;
}

/* Variables */

:root {
    --color-900-dark: #FFFFFF;
    --color-800-dark: #f0e5e5;
    --color-300-dark: #151a21;
    --color-200-dark: #0B0E11;
    --color-100-dark: #0b0e11;

    --color-900: var(--color-900-dark);
    --color-800: var(--color-800-dark);
    --color-300: var(--color-300-dark);
    --color-200: var(--color-200-dark);
    --color-100: var(--color-100-dark);

    --color-accent-1: #49B583;
}

/* Body */

body {
    font-family: Poppins, sans-serif;
    overscroll-behavior-y: contain;
}

/* General style */

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p {
    font-family: 'Work Sans', sans-serif;
}

img {
    user-select: none;
    pointer-events: none
}

/* Tailwind like classes */

.color-900 {
    color: var(--color-900);
}

.bg-900 {
    background-color: var(--color-900);
}

.color-800 {
    color: var(--color-800);
}

.bg-800 {
    background-color: var(--color-800);
}

.bg-300 {
    background-color: var(--color-300);
}

.bg-200 {
    background-color: var(--color-200);
}

.bg-100 {
    background-color: var(--color-100);
}

.color-accent {
    color: var(--color-accent-1);
}

.bg-accent {
    background-color: var(--color-accent-1);
}

.text-gradient {
    background: linear-gradient(135deg, #49B583 6%, #3c8adf 100%);
    filter: brightness(115%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient::selection {
    color: #FFFFFF;
    background: #49B583CC;
    -webkit-text-fill-color: initial;
}

.text-35xl {
    font-size: 2rem/* 36px */;
    line-height: 2.25rem/* 40px */;
}

/* Scroll bar */

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.see-scroll::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-800);
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-900);
}

/* Selection */
::selection {
    color: #FFFFFF;
    background: #49B583CC;
}