@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Override rem size */

:root {
    font-size: 10px;
}

/* Variables */

:root {
    --color-900: #FFFFFF;
    --color-800: #f0e5e5;
    --color-300: #151a21;
    --color-100: #0B0E11;

    --color-accent-1: #49B583;
}

/* Body */

body {
    font-family: Poppins, sans-serif;
    overscroll-behavior-y: contain;
}

/* General style */

*, *:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

p {
    font-family: 'Work Sans', sans-serif;
}

img {
    user-select: none;
    pointer-events: none
}

/* Tailwind like classes */

.color-900 {
    color: var(--color-900);
}

.color-800 {
    color: var(--color-800);
}

.bg-300 {
    background-color: var(--color-300);
}

.bg-100 {
    background-color: var(--color-100);
}

.color-accent {
    color: var(--color-accent-1);
}

.bg-accent {
    background-color: var(--color-accent-1);
}

.text-gradient {
    background: linear-gradient(135deg, #49B583 6%, #3c8adf 100%);
    filter: brightness(115%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient::selection {
    color: #FFFFFF;
    background: #49B583CC;
    -webkit-text-fill-color: initial;
}

.text-35xl {
    font-size: 2rem/* 36px */;
    line-height: 2.25rem/* 40px */;
}

.work {
    background-image: linear-gradient(135deg, #49B583 6%, #3c8adf 100%);
    filter: brightness(110%);
}

/* Scroll bar */

::-webkit-scrollbar {
    height: 0px;
    width: 10px;
}

@media screen and (max-width: 840px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--color-300);
    border-radius: 1000px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f0e5e555;
}

/* Selection */
::selection {
    color: #FFFFFF;
    background: #49B583CC;
}